<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4uG6gSCcLl07Et1xMSJeeKa_OsOqlJmU</string>
	<key>GCM_SENDER_ID</key>
	<string>936440658187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Banane</string>
	<key>PROJECT_ID</key>
	<string>banane2-88f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>banane2-88f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936440658187:ios:6c1ed83587b284724c4a0e</string>
</dict>
</plist>